@model IEnumerable<ICICI.Models.ApplicationUser>
@if (Model != null && Model.Any())
{
    int i = 1;

    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                <span class="btn-link cursor-pointer btnaddUser">@Html.DisplayFor(modelItem => item.Name)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}
<script>
    $('.btnaddUser').click(e => {
        let _id = $(e.currentTarget).closest('tr').data().userId;
        dialog.user(_id);
    });
</script>